.section-new{
    margin-top: 50px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }
 .content-form{
     
     display: flex;
     flex-direction: column;
    
 }
 
 .section-new>form{
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     padding: 15px;
     border-radius: 7px;
     background-color: rgb(240, 240, 240);
     border: 0.5px solid #7f8c8d;
 }
 
 